﻿
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/**COLORS**/
:root {
    --grey: #f2f0f0;
    --lightgrey: #f6f6f6;
    --red: #e22432;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/*Box Model code snippet*/
*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    overflow-x: hidden;
    font-size: 16px; /* 1rem = 10px*/
}

article,
aside,
details,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    text-decoration: none;
}



img {
    border: none;
}

*:focus {
    outline: none;
}

/***LOGIN and IMAGE SECTION*/
.loginandimg {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    column-gap: 8%;
}

/**LOGIN**/
.login {
    display: flex;
    flex-direction: column;
    margin: 0;
    grid-column: 1;
}

.loginabsolute {
    position: absolute;
    top: 12%;
    left: 7%;
    align-items: flex-start;
}

/*Login titles*/
.login-title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 9%;
}

.login-welcome {
    font-size: 2.3rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 26%;
}


/*Login form*/
.login-form label {
    font-size: 2rem;
    display: block;
}

input[type=email], input[type=password] {
    width: 200%;
    padding: 6% 20px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.028), 0.9px 1.1px 4.5px rgba(0, 0, 0, 0.042), 4px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    border: none;
    font-size: 1.8rem;
    background-color: var(--lightgrey);
    box-shadow: 3px 1px 10px lightgrey;
}

label, input[type=email], input[type=password] {
    margin-bottom: 5%;
}

button[type=submit] {
    background: rgba(226, 36, 50, 1);
    border: none;
    margin-top: 17%;
    margin-left: 36%;
    width: 120%;
    height: 58px;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    z-index: -1;
    font-weight: normal;
    font-size: 20px;
}

    button[type=submit]:hover {
        transform: scale(1.05);
    }

.contra-button {
    width: 100%;
    font-size: 1.8rem;
    position: absolute;
    top: 105%;
    left: 45%;
    background: white;
    color: rgba(0, 0, 0);
    box-shadow: none;
    border: none;
    cursor: pointer;
}

    .contra-button:hover {
        background: white;
        color: rgba(0, 0, 0, 0.5);
        box-shadow: none;
        border: none;
        cursor: pointer;
    }

    .contra-button:focus {
        background: white;
        color: rgba(0, 0, 0, 0.5);
        box-shadow: none;
        border: none;
        cursor: pointer;
    }

/* POPUP TO CHANGE PASSWORD */
/*Background of PopUp*/

.modal-box input[type=email], .modal-box input[type=password] {
    width: 100%;
    padding: 4%;
    padding-bottom: 1%;
    height: 1%;
    display: block;
    box-sizing: border-box;
    box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.028), 0.9px 1.1px 4.5px rgba(0, 0, 0, 0.042), 4px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    border: none;
    font-size: 1.8rem;
    background-color: var(--lightgrey);
    box-shadow: 3px 1px 10px lightgrey;
    margin-bottom: 3%;
}

@media(min-width:768px) {
    .modal-box input[type=email], .modal-box input[type=password] {
        padding-bottom: 4%;
    }
}

.modal-box label {
    margin-bottom: 3%;
}

.modal-cont {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
}

/*PopUp*/
.modal-box {
    width: 60%;
    height: 65%;
    margin: 1.5% auto;
    position: center;
    text-align: left;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}

    .modal-box .close {
        position: absolute;
        right: 5%;
        top: 3.5%;
        font-size: 320%;
        font-weight: lighter;
        cursor: pointer
    }

        .modal-box .close:hover,
        .modal-box .close:focus {
            color: #c6c6c6
        }

/*Content of the PopUp*/

.login-box {
    width: 85%;
    position: absolute;
    left: 10%;
    top: 0%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    height: 110%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
    margin-bottom: 0;
}



label.modal-cont, input[type="email"].modal-cont, input[type="password"].modal-cont {
    width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.028), 0.9px 1.1px 4.5px rgba(0, 0, 0, 0.042), 4px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    border: none;
    font-size: 1.8rem;
    background-color: var(--lightgrey);
    box-shadow: 3px 1px 10px lightgrey;
}

.modal-box .save-button {
    display: block;
    cursor: pointer;
    width: 25%;
    padding: 2% 0;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    background-color: var(--red);
    color: white;
    margin-top: 0;
    position: absolute;
    right: 5%;
    bottom: 6%;
}





button::before,
button::after {
    content: '';
    flex: 1 0 auto;
}

.modal-cont {
    display: none
}

@media(max-height:800px) {
    .login-box {
        height: 120%;
    }

    .modal-box .save-button {
        position: absolute;
        bottom: 3%;
        right: 4%;
    }
}

.changepwd {
    font-size: 3.5rem;
    width: 120%;
}

/**IMAGE**/
.imglogin {
    grid-column: 2;
    position: absolute;
    top: 0;
    right: 0px;
    max-width: 55%;
    background-position: left;
    background-size: auto 100%;
    height: 100%; /*max-height: auto%;*/
    overflow: hidden;
}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

/**CHECKBOX**/
.stayconnected{
    display:flex;
    align-self:center;
}

.stayconnected h2{
    font-size:1.8rem;
   
    font-weight:normal;
    margin-left:5%;
}

.remember-form {
    display: block;
    position: relative;
    padding-left: 0;
    margin-bottom: 2%;
    cursor: pointer;
}

 

/* Hide the default checkbox */
input[type=checkbox] {
    visibility: hidden;
}

/* Creating a custom checkbox
        based on demand */
.remember-form-mark {
    position: absolute;
    top: 35%;
    left: 0;
    height: 40%;
    width: 110%;
    background-color: black;
}


/* Specify the background color to be
        shown when hovering over checkbox */
.remember-form:hover input ~ .remember-form-mark {
    background-color: yellow;
}

/* Specify the background color to be
        shown when checkbox is active */
.remember-form input:active ~ .remember-form-mark {
    background-color: red;
}

/* Specify the background color to be
        shown when checkbox is checked */
.remember-form input:checked ~ .remember-form-mark {
    background-color: green;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.remember-form-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Display checkmark when checked */
.remember-form input:checked ~ .remember-form-mark:after {
    display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
        showing only two border to make it look
        like a tickmark */
.remember-form .remember-form-mark:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
.modal-box label,
.modal-box .save-button,
.modal-box input {
    width: 95%;
    display: block;
    margin: 10px auto
}

.modal-box label {
    font-size: 120%;
}

.modal-box .save-button {
    margin-top: 16px;
    margin-right: 20px;
    cursor: pointer;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    background-color: rgb(255, 0, 0);
    color: white;
}


.modal-box span {
    float: right
}



.modal-box {
    animation-name: zoom;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    border: 1px solid #b7b7b7;
    border-radius: 20px;
    box-shadow: none;
}

@media only screen and (min-width: 1024px) and (max-width: 1680px) {
    .bg-illustration {
        width: 50%;
        -webkit-animation: none;
        animation: none;
    }

    .login {
        width: 75%;
    }
}


.bg-illustration {
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: unset;
    margin-left: 22.5%;
}


.login {
    max-height: 100%;
    overflow-Y: auto;
    float: left;
    margin: 0 auto;
    width: 50%;
    margin-left: 10%;
}

    .login .formulario {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

        .login .formulario h1 {
            margin-top: 20%;
            font-size: 280%;
            font-weight: bolder;
        }


        .login .formulario .login-form {
            margin-top: 24%;
        }

            .login .formulario .login-form form {
                display: -ms-grid;
                display: grid;
            }

                .login .formulario .login-form form input {
                    font-size: 16px;
                    font-weight: normal;
                    background-color: #efefef;
                    margin: 2.5%;
                    height: 68px;
                    border: 1px;
                    border-radius: 26px;
                    width: 90% auto;
                }

                .login .formulario .login-form form button[type=submit] {
                    background: rgba(226, 36, 50, 1);
                    border: none;
                    margin-top: 17%;
                    margin-left: 36%;
                    width: 45%;
                    height: 58px;
                    text-transform: uppercase;
                    color: rgb(255, 255, 255);
                    border-radius: 40px;
                    position: relative;
                    z-index: 2;
                    font-weight: bold;
                    font-size: 20px;
                }

                    .login .formulario .login-form form button[type=submit]:hover::after {
                        opacity: 1;
                    }

                    .login .formulario .login-form form button[type=submit]::after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        border-radius: 40px;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        -webkit-transition: 0.3s ease-in-out;
                        -o-transition: 0.3s ease-in-out;
                        transition: 0.3s ease-in-out;
                        right: 0;
                        bottom: 0;
                        background: rgba(0, 0, 0, 0.6);
                    }

        .login .formulario .remember-form {
            position: relative;
            margin-top: 5%;
        }

            .login .formulario .remember-form input[type=checkbox] {
                margin-top: 0px;
                height: 100%;
                width: 6%;
                border: none;
                margin-left: 2%;
                padding: inherit;
                box-shadow: 0 0 0 1pt rgb(199, 15, 15);
                outline: none;
                transition: .1s;
            }

            .login .formulario .remember-form span {
                font-size: 140%;
                font-weight: normal;
                position: absolute;
                top: 0px;
                color: #3B3B3B;
                margin-left: 0%;
            }


        .login .formulario .forget-pass {
            position: absolute;
            left: 37.5%;
            margin-top: 90%;
        }

        .login .formulario a {
            font-size: 16px;
            position: relative;
            font-weight: normal;
            color: #918F8F;
        }

            .login .formulario a::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                border-radius: 100px;
                background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
                background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
                background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
                bottom: -4px;
                left: 0;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                opacity: 0;
                right: 0;
            }

        .login .formulario .forget-pass a:hover::after {
            opacity: 1;
        }

.login-form label {
    margin-left: 0%;
    font-size: 150%;
}

    */
